/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra bonita */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o conteúdo */
}

p {
    margin-bottom: 15px;
}

p em {
    font-style: italic;
    color: #ccc;
}


.container {
            position: relative;
        }

        .botoes-leitura {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 10px;
        }
